@import '../../node_modules/reset-css/reset';
@import 'variables';
@import 'button';
@import 'footer';
@import 'animate';

* {
  box-sizing: border-box;
}

body, html {
  background: $bgColor;
  color: $lightText;
  font-family: 'Avenir', sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

#root {
  font-size: 1.6rem;
}

.hf {
  background-color: $bgLighter;
  border: 0;
  text-align: center;
  &__inner {
    padding: 3rem 0;
  }

  &--header {
    border-bottom: .1rem solid $darkest;
  }

  &--footer {
    border-bottom: .1rem solid $darkest;
  }
}

.hf__inner,
.component__inner {
  margin: 0 auto;
  max-width: 120rem;
  position: relative;
}

.component__inner {
  .component--section:last-child & {
    border-bottom: 0;
  }
  border-bottom: 1px solid transparentize($greyText, 0.6);
  padding: 3rem 0;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
  width: 100%;
}

.h1 {
  font-size: 3.2rem;
  margin-bottom: 3rem;
}

.h2 {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.h3 {
  font-size: 2.0rem;
  margin-bottom: 1.4rem;
}

.h {
  &--caps {
    text-transform: uppercase;
  }

  &--no-weight {
    font-weight: normal;
  }

  &--thin {
    font-weight: 100;
  }

  &--no-margin {
    margin: 0;
  }
}

p {
  font-weight: bold;
  margin-bottom: 1.4rem;
}

main {
  background: $bgColor;
  padding-bottom: 7.6rem;
}

.table {
  font-weight: bold;
  text-align: left;
  width: 100%;

  td, th {
    padding: 1.7rem 0;
  }

  td {
    font-size: 2rem;
  }

  th {
    color: $greyText;
    font-size: 2rem;
    padding: 1rem 0;
    text-transform: uppercase;
  }

  &__img {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
    vertical-align: middle;
  }
}

.table--inverse {
  background-color: $lightText;
  color: $darkest;
}

.table__td__icon {
  margin-right: 1rem;
}

.form {
  &__input {
    border: 0;
    border-radius: 0.2rem;
    font-size: 1.6rem;
    padding: 0 2rem;
    height: 4rem;
    width: 100%;
  }
}

.no-right-br {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.no-left-br {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.inline-top {
  display: inline-block;
  vertical-align: top;
}

.inline-bottom {
  display: inline-block;
  vertical-align: bottom;
}

.inline-middle {
  display: inline-block;
  vertical-align: middle;
}

.table__td--lowlight {
  color: $greyText;

  &:hover {
    color: inherit;
  }
}

.request {
  .form__input {
    flex-grow: 1;
  }

  .btn {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    padding: 0 7rem;
  }
}

.icon {
  color: $greyText;
  margin-right: 10px;
}

.SongDetails {

  &__icon {
    bottom: 0;
    color: $greyText;
    font-size: 2.4rem;
    margin-right: 1.5rem;
    position: absolute;
    left: 0;
  }

  &__detail {
    padding-left: 4rem;
    position: relative;
  }

  svg {
    color: $greyText;
  }

  &__img {
    height: 37rem;
    margin-right: 3rem;
    width: auto;
  }

  &__main {
    display: flex;
    flex-flow: column nowrap;
  }

  &--next {
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: auto;
    img {
      height: 10rem !important;
      margin-right: 1.5rem;
      width: 10rem;
    }
  }
}

.PlaylistSelector {
  min-width: 25%;

  select {
    width: 100%;
  }
}

.width--auto {
  width: auto;
}

.a--reset {
  &,
  &:visited,
  &:hover,
  &:active {
    color: inherit;
    text-decoration: none;
  }
}

.a--darker {
  color: $greyText;

  &:hover {
    color: $lightText;
  }
}

.text-underline {
  border-bottom: .2rem solid;
  padding-bottom: .2rem;
}

.nav {
  position: absolute;
  right: 0;
}

.nav__items {
  display: flex;
  flex-flow: nowrap row;
}

.nav__item {
  padding: 0 1rem;
  svg {
    font-size: 4rem;
  }

  &:hover {
    color: $greyText;
  }
}

.nav__item__link--active {
  &,
  &:hover {
    color: $actionColor !important;
  }
}

.absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.icon {
  &--xs {
    font-size: 1.8rem;
  }
  &--s {
    font-size: 2.7rem;
  }
  &--m {
    font-size: 3.6rem;
  }
  &--l {
    font-size: 4.5rem;
  }
  &--xl {
    font-size: 5.4rem;
  }

  &--xxl {
    font-size: 10rem;
  }

  &--xxxl {
    font-size: 20rem;
  }

  &--danger {
    color: $actionColor;
  }
}

.SongList {
  &__h1 {
    line-height: 4.2rem;
    max-width: 73%;
  }

  &__top {
    display: flex;
    min-height: 5rem;
    margin-bottom: 2rem;
  }
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.SearchResults__close {
  font-size: 3.5rem;
}

.SongDetails--next {
  display: none;
}

.Jukebox--tv {
  .now-playing {
    height: 100%;

    .SongDetails:not(.SongDetails--next){
      flex-grow: 1;
      height: 100%;
    }

    .component__inner {
      height: 100%;
      display: flex;
      flex-flow: column;
    }
  }
}

.img {
  width: 100%;
  height: auto;

  &--full-height {
    width: auto;
    height: 100%;
  }
}



.select-wrap {
  position: relative;
  select {
    // TODO IE Appearance ^^
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $bgLighter;
    border-radius: 0;
    color: $lightText;
    font-size: 1.6rem;
    height: 4.2rem;
    margin: 0;
    padding: 1rem 3rem 1rem 2rem;
    position: relative;
    option {
      background-color: $bgLighter;
      color: $lightText;
    }

    &::after {
      content: 'v';
      color: white;
      position: absolute;
      right: 0;
    }
  }

  &__icon {
    bottom: 0;
    font-size: 2.5rem;
    padding: 0 2rem;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.flex--align-items {
  align-items: center;
}

.flex--center-all {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
}

.select--full-width {
  width: 100%;
}
