@import '../../node_modules/reset-css/reset';
@import 'variables';
@import 'button';
@import 'footer';

* {
  box-sizing: border-box;
}

body, html {
  background: $bgColor;
  color: $lightText;
  font-family: 'Avenir', sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

#root {
  font-size: 1.6rem;
}

.hf {
  background-color: $bgLighter;
  border: 0;
  text-align: center;
  &__inner {
    padding: 2rem 0;
  }

  &--header {
    border-bottom: .1rem solid $darkest;
  }

  &--footer {
    border-bottom: .1rem solid $darkest;
  }
}

.hf__inner,
.component__inner {
  margin: 0 auto;
  max-width: 120rem;
}

.component__inner {
  .component--section:last-child & {
    border-bottom: 0;
  }
  border-bottom: 1px solid transparentize($greyText, 0.6);
  padding: 4rem 0;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

.h1 {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.h2 {
  font-size: 2.2rem;
  margin-bottom: 1.6rem;
}

.h3 {
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}

.h {
  &--caps {
    text-transform: uppercase;
  }

  &--no-margin {
    margin: 0;
  }
}

p {
  font-weight: bold;
  margin-bottom: 1.4rem;
}

.main-content {
  background: $bgColor;
  min-height: calc(100vh - 8rem);
  padding-bottom: 8rem;
}

.table {
  font-weight: bold;
  text-align: left;
  width: 100%;

  td, th {
    padding: 1.7rem 0;
  }

  td {
    font-size: 1.6rem;
  }

  th {
    color: $greyText;
    font-size: 2rem;
    padding: 1rem 0;
    text-transform: uppercase;
  }

  &__img {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
    vertical-align: middle;
  }
}

.form {
  &__input {
    border: 0;
    border-radius: 0.2rem;
    font-size: 1.6rem;
    padding: 0 2rem;
    height: 4rem;
    width: 100%;
  }
}

.no-right-br {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.no-left-br {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.inline-top {
  display: inline-block;
  vertical-align: top;
}

.inline-middle {
  display: inline-block;
  vertical-align: middle;
}

.request {
  .form__input {
    width: 80%;
  }

  .btn {
    width: 20%;
  }
}

.now-playing {
  position: relative;
}

.SongDetails {
  img {
    height: 30rem;
    margin-right: 3rem;
    width: 30rem;
  }
}

.SongDetails--next {

  margin-top: 6rem;
  img {
    height: 10rem;
    margin-right: 1.5rem;
    width: 10rem;
  }
}

.queue {

  .table {
    margin-top: 7rem;
  }
  h1 {
    float: left;
    line-height: 4.2rem;
  }
}

.select-group {
  select {
    // TODO IE Appearance ^^
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $bgLighter;
    border-radius: 0;
    color: $lightText;
    font-size: 1.6rem;
    height: 4.2rem;
    padding: 1rem 2.5rem;
    position: relative;
    option {
      background-color: $bgLighter;
      color: $lightText;
    }

    &::after {
      content: 'v';
      color: white;
      position: absolute;
      right: 0;
    }
  }
}

.select--full-width {
  width: 100%;
}

.playListSelector {
  float: right;
  width: 25%;
}
