@import '../../node_modules/reset-css/reset';
@import 'variables';
@import 'footer';

* {
  box-sizing: border-box;
}

body, html {
  background: $bgColor;
  color: $lightText;
  font-family: 'Avenir', sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

header, footer, section .inner {
  font-size: 1.6rem;
  padding: 2rem 0;
}

section .inner {
  padding: 4rem 0;
}

h1 {
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

header {
  border-bottom: 1px solid $darkest;
}

footer {
  border-top: 1px solid $darkest;
}

h2 {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 0;
}

p {
  font-weight: bold;
  margin-bottom: 1.4rem;
}

.input-group {
  font-size: 0;
  input[type="text"] {
    border: 0;
    border-radius: 0.2rem;
    font-size: 1.6rem;
    padding: 0 2rem;
    height: 4rem;
    width: 100%;
  }
}

.btn {
  background: $actionColor;
  color: $lightText;
  font-size: 1.6rem;
  font-weight: bold;
  height: 4rem;
  border: 0;
  border-radius: 0.2rem;

  &:hover,
  &:active {
    background: darken($actionColor, 5%);
  }

  &:active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
  }
}

.main-content {
  background: $bgColor;
  min-height: calc(100vh - 8rem);
  padding-bottom: 8rem;
  section .inner {
    border-bottom: 1px solid transparentize($greyText, 0.6);
  }

  section:last-child .inner {
    border-bottom: 0;
  }
}

table {
  width: 100%;
}

td, th {
  font-weight: bold;
  padding: 1.7rem 0;
  text-align: left;
}

th {
  color: $greyText;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
  text-transform: uppercase;
}

td {
  font-size: 1.6rem;
}

.queue {
  th:first-child {
    width: 45%;
  }

  img {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-right:2rem;
    vertical-align: middle;
  }
}



.request {
  input[type="text"] {
  }

  input[type="text"],
  .btn {
    display: inline-block;
    vertical-align: top;
  }

  input[type="text"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 80%;
  }

  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 20%;
  }
}

.now-playing {
  img, .details-text {
    display: inline-block;
    vertical-align: top;
  }

  img {
    width: 30rem;
    height: 30rem;
    margin-right: 3rem;
  }
}

header,
footer {
  background-color: $bgLighter;
  text-align: center;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}
